<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Browse</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover sortable dark-text" style="word-wrap: break-word;">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">PDB</th>
                          <th scope="col">Heavy_Chain</th>
                          <th scope="col">Light_Chain</th>
                          <th scope="col">H1 Cluster</th>
                          <th scope="col">L1 Cluster</th>
                          <th scope="col">H2 Cluster</th>
                          <th scope="col">L2 Cluster</th>
                          <th scope="col">H3 Cluster</th>
                          <th scope="col">L3 Cluster</th>
                          </tr>
                      </thead>
                      {% for item in retrieve_all %}

                      <tr>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.pdb, settings='PDB') }}" target="_blank">{{ item.pdb }}</td>
                        <td>{{ item.heavy_chain }}</td>
                        <td>{{ item.light_chain }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.h1cluster, settings='cluster') }}" target="_blank">{{ item.h1cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.l1cluster, settings='cluster') }}" target="_blank">{{ item.l1cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.h2cluster, settings='cluster') }}" target="_blank">{{ item.h2cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.l2cluster, settings='cluster') }}" target="_blank">{{ item.l2cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.h3cluster, settings='cluster') }}" target="_blank">{{ item.h3cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.l3cluster, settings='cluster') }}" target="_blank">{{ item.l3cluster }}</td>
                      </tr>

                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>


    {% endblock %}
  </body>
</html>
