<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h3 class="very-dark-text">Search database by PDB id</h3>
          <form action="/formSearch" method="POST">
          <div class="form-group very-dark-text">

              <select class="selectpicker" data-live-search="true" data-width="100%" name="pdb_select">
                  {% for item in pdbListDb %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
              </select>
          </div>
          <button type="submit" class="btn button-primary" style="color:white;">Search</button>
          </form>
          <br>
          <hr class="my-4 brand-background">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h3 class="very-dark-text">Search by CDR, CDR length or cluster</h3>
          <form action="/formSearchMultiple" method="POST">
                <div class="form-group very-dark-text">

                    <select class="selectpicker" data-live-search="true" data-width="100%" name="cdr_select">
                      <option value="All">All</option>

                      <optgroup label="H1">
                        <option value="H1-All" data-subtext="{{ clusterChainCount['H1-All'] }} chains">H1-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'H1' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                      <optgroup label="H2">
                        <option value="H2-All" data-subtext="{{ clusterChainCount['H2-All'] }} chains">H2-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'H2' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                      <optgroup label="H3">
                        <option value="H3-All" data-subtext="{{ clusterChainCount['H3-All'] }} chains">H3-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'H3' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                      <optgroup label="L1">
                        <option value="L1-All" data-subtext="{{ clusterChainCount['L1-All'] }} chains">L1-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'L1' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                      <optgroup label="L2">
                        <option value="L2-All" data-subtext="{{ clusterChainCount['L2-All'] }} chains">L2-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'L2' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                      <optgroup label="L3">
                        <option value="L3-All" data-subtext="{{ clusterChainCount['L3-All'] }} chains">L3-All</option>
                        <option disabled>──────────</option>
                        {% for item in cluster_cdr_list %}
                        {% if 'L3' in item %}
                        {% if item in clusterListDb %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains" style="margin-left:25px;color:#7a72ab;">{{ item }}</option>
                        {% else %}
                        <option value="{{ item }}" data-subtext="{{ clusterChainCount[item] }} chains">{{ item }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </optgroup>

                </select>
            </div>

            <button type="submit" class="btn button-primary light-text">Submit</button>
          </form>
        </div>
      </div>
      <br>



        </div>

    {% endblock %}
  </body>
</html>
