<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h3 class="very-dark-text">Search database by a unique id</h3>
          <form action="/formSearch" method="POST">
          <div class="form-group very-dark-text">
            <label for="inputString">Enter PDB</label>
            <input type="text" class="form-control" name="inputString" placeholder="E.g. 1P7K">
          </div>
          <button type="submit" class="btn button-primary" style="color:white;">Search</button>
          </form>
          <br>
          <hr class="my-4 brand-background">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h3 class="very-dark-text">Search by CDR cluster</h3>
          <form action="/formSearchMultiple" method="POST">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="h1Select">Select H1 Cluster</label>
                  <select class="form-control" name="h1Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="H1-10-*">H1-10-*</option>
                      <option value="H1-10-1">H1-10-1</option>
                      <option value="H1-10-cis5-*">H1-10-cis5-*</option>
                      <option value="H1-11-*">H1-11-*</option>
                      <option value="H1-12-*">H1-12-*</option>
                      <option value="H1-12-1">H1-12-1</option>
                      <option value="H1-13-*">H1-13-*</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="h2Select">Select H2 Cluster</label>
                  <select class="form-control" name="h2Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="H2-10-*">H2-10-*</option>
                      <option value="H2-10-1">H2-10-1</option>
                      <option value="H2-10-2">H2-10-2</option>
                      <option value="H2-10-3">H2-10-3</option>
                      <option value="H2-10-4">H2-10-4</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="h3Select">Select H3 Cluster</label>
                  <select class="form-control" name="h3Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="H3-10-*">H3-10-*</option>
                      <option value="H3-10-cis10-*">H3-10-cis10-*</option>
                      <option value="H3-10-cis5-*">H3-10-cis5-*</option>
                      <option value="H3-10-cis6-*">H3-10-cis6-*</option>
                      <option value="H3-10-cis7-*">H3-10-cis7-*</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="l1Select">Select L1 Cluster</label>
                  <select class="form-control" name="l1Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="L1-10-*">L1-10-*</option>
                      <option value="L1-10-1">L1-10-1</option>
                      <option value="L1-10-2">L1-10-2</option>
                      <option value="L1-11-*">L1-11-*</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="l2Select">Select L2 Cluster</label>
                  <select class="form-control" name="l2Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="L2-12-*">L2-12-*</option>
                      <option value="L2-12-1">L2-12-1</option>
                      <option value="L2-12-2">L2-12-2</option>
                      <option value="L2-12-cis12-*">L2-12-cis12-*</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group very-dark-text">
                  <label for="l3Select">Select L3 Cluster</label>
                  <select class="form-control" name="l3Select">
                    <option value="All">All</option>
                    <optgroup label="──────────">
                      <option value="L3-10-*">L3-10-*</option>
                      <option value="L3-10-1">L3-10-1</option>
                      <option value="L3-10-cis2,7-*">L3-10-cis2,7-*</option>
                      <option value="L3-10-cis5,6-*">L3-10-cis5,6-*</option>
                    </optgroup>
                  </select>
                </div>
              </div>

            </div>





            <button type="submit" class="btn button-primary light-text">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
