<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Statistics</title>
    {% extends 'base.html' %}
  </head>
  {% block content %}
  <body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11">
            <div class="row">
              {% for fullcluster in clusterListDb %}
              <div class="col-lg-6">
                <div class="card  border-light mb-3  very-dark-text">
                    <div class="card-header dark-background-trans"><h4 style="color:white;">{{ fullcluster }}</h4></div>
                      <div class="card-body light-grey-background">

                            <h5 class="card-title">CDR Length: <a href="#" target="_blank"></a></h5>
                            <h5 class="card-title">CDR: <a href="#" target="_blank"></a></h5>
                            <h5 class="card-title">Genes:</h5>
                            <h5 class="card-title">Species:</h5>
                            <h5 class="card-title">Sequence logo:</h5>
                            <h5 class="card-title">Rama logo:</h5>
                            <h5 class="card-title">Rama logo:</h5>
                      </div>
                  </div>
              </div>

                      <div class="col-lg-6">
                        <table class="table table-sm  table-striped dark-accent-text">
                          <thead class="thead-light">
                            <tr>
                              <th colspan="2" style='text-align:center;'>Summary</th>

                            </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <th scope="row" style='text-align:center;'>PDB Entries</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Chains</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Unique Sequences</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>% Loop Length</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Median angle</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Median PDB Chain</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Consensus Sequence</th>
                            <td style='text-align:center;'></td>
                          </tr>
                          <tr>
                            <th scope="row" style='text-align:center;'>Most Common Rama</th>
                            <td style='text-align:center;'></td>
                          </tr>
                        </tbody>
                      </table>

                      </div>
                      <div class="col-lg-12">
                        <hr class="my-4 light-grey-background">

                      </div>
                      {% endfor %}

                    </div>
                    </div>
                  </div>
                </div>




  </body>
  {% endblock %}
</html>
